extends layout

block scripts
  script(src="/javascripts/index.js")
  script(src="https://unpkg.com/showdown/dist/showdown.min.js")
  script(src="/javascripts/process_desc.js")

block cart_summary
  a(href="/cart")
    h3#cart_link
      | items in cart: 
      span#cart_items= cart.totalQty

block content
  each prod in products
    if prod.available
      div(class='product' id=prod._id)
        h2.name= prod.name
        img(src=prod.imagePath, class="prodImg")
        .description
          h3.price
            | $ 
            = prod.price   
          button(onClick="addToCart(\"" + prod._id + "\")").add_to_cart
            | Add to cart
          br
          if prod.descriptionPath
            script.
              processDescription("#{prod._id}", "#{prod.descriptionPath}");
          else
            | No description available.

